@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
  font: 100% Open Sans, sans-serif;
  background-color:#073642;
  color:#657b83;

  a {
    color:#586e75;
    text-decoration:none;
  }

  .circle{
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    border:1px solid #657b83;
    width:10px;
    height:10px;
    display:inline-block;
    vertical-align:middle;
    background-color:#cb4b16;
    &[healthy="true"]{
      background-color:#859900;
    }
    &[state="running"]{
      background-color:#859900;
    }
  }

  .apps {
    float:left;
    .space {
      padding-left:25px;
    }

    .app {
      padding-left:50px;
    }

    .url {
      padding-left:75px;
    }
  }

  .bosh{
    float:left;
    padding-left:10px;

  }

  td {
    padding-left:15px;
  }

}
