@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
  font: 100% Open Sans, sans-serif;

  a {
    color:grey;
    text-decoration:none;
  }

  .org {
  }

  .space {
    padding-left:25px;
  }

  .app {
    padding-left:50px;
  }

  .circle{
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    border:1px solid #ccc;
    width:10px;
    height:10px;
    display:inline-block;
    vertical-align:middle;
    background-color:green;
    &[healthy="false"]{
      background-color:red;
    }
  }

  .url {
    padding-left:75px;
  }
}
