@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
  font: 100% Open Sans, sans-serif;

  .org {
  }

  .space {
    padding-left:25px;
  }

  .app {
    padding-left:50px;
  }

  .url {
    padding-left:75px;
  }
}
